{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Апартаменты Москва</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="text-black">

    <header class="border-bottom border-gray border-2">
    <nav class="navbar navbar-expand-lg ">
        <div class="container py-2">
        <img src="{% static 'image/logo.png' %}" class="mx-3" width="100" height="30" alt="Логотип">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="{% url 'apartment' %}" class="nav-link">Главная страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'apartment_correct' %}">Все апартаменты</a>
            </li>
        </div>
        </div>
    </nav>
    </header>

    <main>
        <section class="container py-5">
          <h3 class="fw-bold text-uppercase">
            Апартамент c id = {{ apartment.id }}
          </h3>
            <div class="pt-5 pt-md-0">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="number_rooms" class="form-label">Количество комнат:</label>
                        <input type="text" id="number_rooms" class="form-control" value="{{ apartment.number_rooms }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="number_floor" class="form-label">Этаж:</label>
                        <input type="text" id="number_floor" class="form-control" value="{{ apartment.number_floor }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="square" class="form-label">Площадь:</label>
                        <input type="text" id="square" class="form-control" value="{{ apartment.square }} м²" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Город:</label>
                        <input type="text" id="city" class="form-control" value="{{ info_building.city }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Адрес:</label>
                        <input type="text" id="address" class="form-control" value="{{ info_building.street }}, {{ info_building.number_building }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Цена в рублях:</label>
                        <input type="text" id="price" name="price" class="form-control" value="{{ apartment.price|floatformat:0 }}" required>
                    </div>

                    <button type="submit" class="btn btn-success rounded">Сохранить изменения</button>
                </form>
            </div>
    </main>
    <footer class="border-top border-black border-2">
    <div class="text-center">
        <p class="pt-3 w-50 mx-auto"><i class="bi bi-envelope"></i> more@info.ru</p>
        <p>© 2025 Хохлова Полина</p>
    </div>
    </footer>
</body>
</html>
