{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Апартаменты Москва</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="text-black">

    <header class="border-bottom border-gray border-2">
    <nav class="navbar navbar-expand-lg ">
        <div class="container py-2">
        <img src="{% static 'image/logo.png' %}" class="mx-3" width="100" height="30" alt="Логотип">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#apartments">Апартаменты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#building">Проекты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Санкт-Петербург</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    </header>

    <main>
    <section class="container-fluid">
        <div class="container py-5">
        <div class="row">
            <div class="col-md-6 text-center text-lg-start px-5 pb-5 pb-lg-0">
            <h1 id="about" class="fw-bold text-uppercase">Апартаменты в Москве</h1>
            <p class="text-uppercase fs-5 fw-bold text-success">Открой дверь в мир комфорта и счастья: <br> выбери
                свой апартамент</p>
            </div>
            <div class="col-md-6 text-center">
            <img src="{% static 'image/3.png' %}" class="img-fluid rounded" width="500" height="500" alt="Изображение">
            </div>
        </div>
        </div>
    </section>

    <section  style="background-color: var(--bs-border-color);">
      <div class="container text-black py-5 px-5">
        <div class="mt-3">
          <h2 class="fw-bold text-uppercase text-center">Апартаменты MORE</h2>
        </div>
          <div class="headline w-50 mx-auto my-4" style="border-bottom: 2px solid green;"></div>
          <p style="font-size: 20px;">Многофункциональный комплекс <strong>MORE</strong> — проект премиум-класса в центре Москвы, расположенный в 5 минутах пешком от м. Белорусская.
              <br>Но это не единственный наш проект в престижных районах крупнейших городов России.
              Мы также предлагаем эксклюзивные апартаменты в самом сердце <strong>Санкт-Петербурга</strong>.
              <br>Каждый проект оснащен закрытой охраняемой территорией, современной системой безопасности и подземным паркингом.
              <br>Наша команда и партнеры гарантируют спокойствие вам и вашим близким.
              Рядом находятся все необходимые объекты инфраструктуры - магазины, рестораны, банки, аптеки, детские сады и школы.
              <br>Станьте частью новой истории и выберите свой идеальный дом!</p>

          <div class="text-center">
          <button type="button" class="btn btn-success fs-5 rounded">Выбрать квартиру</button>
      </div>
      </div>
    </section>

    <section>
        <div class="container py-5">
        <h2 id="apartments" class="fw-bold text-center py-2 text-uppercase text-black">
            Апартаменты
        </h2>
        <form method="GET" action="{% url 'apartment' %}">
            <div class="input-group col ps-0">
                <input type="search" name="room_count" class="form-control" id="search-input" placeholder="Введите количество комнат" aria-label="search" value="{{ request.GET.room_count|default_if_none:'' }}" pattern="\d*" title="Пожалуйста, введите только цифры">
                <button class="btn btn-outline-secondary" type="submit" id="button-search">Поиск</button>
            </div>
        </form>
        {% if not_found_message %}
        <div class="alert alert-warning" role="alert">
            {{ not_found_message }}
        </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-3 g-4 py-3">
            {% for apartment in apartments %}
            <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="image-container">
                    <img src="{{ apartment.photos.first.image.url }}" class="card-img-top" alt="{{ apartment.apartment_code }}">
                </div>
              <div class="card-body">
<!--                  <h5 class="card-title text-success fw-bold">Апартамент</h5>-->
                  <p style="font-size: 17px;" class="card-text">Цена: {{ apartment.price|format_price }} <br> Количество комнат: {{ apartment.number_rooms }} <br> Этаж: {{ apartment.number_floor }} <br> Площадь: {{ apartment.square }} м²</p>
                <a href="#" class="btn btn-success rounded">Подробнее</a>
              </div>
            </div>
            </div>
        {% endfor %}
        </div>

        <nav>
            <ul class="pagination justify-content-center">
                {% if apartments.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ apartments.previous_page_number }}">Назад</a>
                </li>
                {% endif %}
                {% for num in apartments.paginator.page_range %}
                <li class="page-item {% if apartments.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if apartments.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ apartments.next_page_number }}">Вперед</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>

    <section>
        <div class="container py-5 text-black">
            <h2 id="building" class="fw-bold text-center text-uppercase">Наши проекты в Москве</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4 py-3">
                {% for complex in complexes %}
                    <div class="col">
                        <div class="card" style="width: 30rem;">
                            {% if complex.image %}
                                <img src="{{ complex.image }}" class="card-img-top" alt="{{ complex.street }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-black ">{{ complex.street }}, {{ complex.number_building }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section style="background-color: var(--bs-border-color);">
        <div class="container text-black py-5">
             <h2 id="listRouters" class="fw-bold text-uppercase text-success">Проданных апартаментов: {% count_sold_apartment %}</h2>
        </div>
    </section>

    <section class="container py-5">
      <h4 class="fw-bold text-uppercase">
        Все готово, мы ждем только вас
      </h4>
      <div class="pt-5 pt-md-0">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.help_text %}
                        <div id="{{ field.id_for_label }}Help" class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
          <button type="submit" class="btn btn-success rounded">Оставить заявку</button>
        </form>
      </div>
    </section>

    <footer class="border-top border-black border-2">
    <div class="text-center">
        <p class="pt-3 w-50 mx-auto"><i class="bi bi-envelope"></i> more@info.ru</p>
        <p>© 2025 Хохлова Полина</p>
    </div>
    </footer>
</body>
</html>
